Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
l=[]

for i in range(2000, 3201):
  if (i%7 == 0) and (i%5 != 0):
    l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program:
8
then, the output should be:
40320

In [ ]:
def fact(x):
  if x==0:
    return 1
  return x*fact(x-1)

x = int(3)
print(fact(x))

6

Question:

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary.

Suppose the following input is supplied to the program:
8

Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n=int(4)
d=dict()
for i in range(1,n+1):
  d[i]=i*i

print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

üôã‚Äç‚ôÇÔ∏è :
Write a program that calculates and prints the value according to the given formula:

Q = Square root of **[(2 * C * D)/H]**
Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.

Example
Let us assume the following comma separated input sequence is given to the program:

100,150,180

The output of the program should be:
18,22,24

In [ ]:
import math
c=50
h=30
value = []
items = [x for x in input().split(',')]
# for d in items:
#   vlaue.append(str(int(round(math.sqrt()))))

for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100, 150, 180
18,22,24

In [ ]:
import math
c=1
h=2
value=[]
items = [x for x in input().split(',')]

for d in items:
  value.append(str(int(round(math.sqrt(float(d))))))

print(','.join(value))

25,36
5,6

üôã‚Äç‚ôÇÔ∏è :
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¬°¬≠Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]